$background-vanilla: #F9F1EE;
$yellow: #e9a923;
$purple: #7f3a6a;

$standard-indent-size: 24px;
$small-indent-size: 16px;

$standard-font-size: 24px;
$small-font-size: 16px;

$small-font-height: 1.4;
$medim-font-height: 1.5;

$exo-font-family: "Exo", sans-serif;
